<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.BankConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Bank.accdb"
            providerName="System.Data.OleDb" />
        <add name="GUI.Properties.Settings.BankDataBase" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\programs\GIT_C#\Investors\DataBase\Bank.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>